<nz-row>
  <nz-row nzJustify="space-around" style="width: 100%;" nzGutter="10">
    <div nz-col nzSpan="20" nzOffset="1" style="padding: 15px">
      <mat-radio-group [(ngModel)]="imageUploadMethod">
        <mat-radio-button [value]="0" checked>上传图片</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button [value]="1">拍照</mat-radio-button>
      </mat-radio-group>
    </div>
    <div nz-col nzMd="12" nzXs="24" style="display: inline-flex;justify-content: center; padding: 20px 0; align-items: center">
<!--      文件上传-->
      <div *ngIf="imageUploadMethod === 0">
        <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length === 0"
          nzLimit="1"
          [nzBeforeUpload]="beforeUpload"
          [nzCustomRequest]="generalBasicOCR"
          [nzPreview]="handlePreview" nzAccept="image/*">
          <i nz-icon nzType="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                  (nzOnCancel)="previewVisible = false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" [alt]="imageAlt"/>
          </ng-template>
        </nz-modal>
      </div>
<!--      拍照上传-->
      <div *ngIf="imageUploadMethod === 1">
        <button style="width: 100%" mat-button (click)="openCamera()">拍照</button>
        <video *ngIf="!avatarUrl" id="video" width="360" height="540" autoplay="">视频流不可用.</video>
        <img style="width: 360px;" *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
        <canvas id="canvas" [style.display]="'none'">
        </canvas>
      </div>

    </div>
    <div nz-col nzMd="12" nzXs="24" style="padding: 10px 0">
      <mat-form-field style="width: 100%">
        <mat-label>识别结果</mat-label>
        <textarea matInput placeholder="" [(ngModel)]="recognitionResult" style="min-height: 300px"></textarea>
      </mat-form-field>
    </div>
  </nz-row>

</nz-row>
