<mat-tab-group autofocus dynamicHeight="true">
  <mat-tab label="Base64转码">
    <nz-row style="margin: 10px 0">
      <div nz-col nzSpan="22" nzOffset="1">
        <nz-upload
          nzType="drag"
          [nzMultiple]="false"
          [nzLimit]="1"
          nzAccept="image/*"
          [nzBeforeUpload]="beforeUploadWithConvertBase64"
          [nzShowUploadList]="false">
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">点击或拖拽上传图片</p>
        </nz-upload>
      </div>
    </nz-row>
    <nz-row style="margin: 10px 0">
      <nz-col nzSpan="22" nzOffset="1">
        <mat-form-field style="width: 100%">
          <mat-label>base64</mat-label>
          <textarea matInput placeholder="" [(ngModel)]="imageBase64Code" style="min-height: 400px"></textarea>
        </mat-form-field>
      </nz-col>
    </nz-row>
    <nz-row style="margin: 10px 0">
      <nz-col nzSpan="22" nzOffset="1">
        <div>
          <button mat-button (click)="previewImage()">点击此处预览</button>
          <div class="image-preview" style="display: flex; justify-content: center">
            <img [src]=imageBase64CodeSafeUrl alt="" style="max-width: 80%"/>
          </div>
        </div>
      </nz-col>
    </nz-row>
  </mat-tab>
  <mat-tab label="图片类型转换">
    <nz-row style="margin: 10px 0">
      <div nz-col nzSpan="22" nzOffset="1">
        <nz-upload
          nzType="drag"
          [nzMultiple]="false"
          [nzLimit]="1"
          nzAccept="image/*"
          [nzBeforeUpload]="beforeUploadWithConvertImageType"
          [nzShowUploadList]="false">
          <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
          </p>
          <p class="ant-upload-text">点击或拖拽上传图片</p>
        </nz-upload>
        <div *ngIf="waitingConvertFile">文件名: {{waitingConvertFile.name}}</div>
        <mat-form-field>
          <mat-select #targetType value="image/png" placeholder="转换类型">
            <mat-option value="image/webp">webp格式</mat-option>
            <mat-option value="image/jpeg">jpeg格式</mat-option>
            <mat-option value="image/png">png格式</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="convertImageType(targetType.value)">开始转换</button>
        <p>转换结果：</p>
        <img [src]="convertTargetImageSrc" style="max-width: 600px" alt=""/>
      </div>
    </nz-row>
    <nz-row>

    </nz-row>
  </mat-tab>
</mat-tab-group>
