<div style="height: calc(100% - 60px); padding: 0 10px">
  <div class="editor-option-bar">
    <div>
    <label>编辑器选项: </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-select (valueChange)="changeLanguage($event)" placeholder="语言" [(value)]="currentLanguage" panelClass="language-select">
        <mat-option *ngFor="let lang of supportLanguage" [value]="lang">{{lang}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-select (valueChange)="changeTheme($event)" placeholder="主题">
        <mat-option value="vs">vs</mat-option>
        <mat-option value="vs-dark">vs-dark</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <label>
        <input matInput placeholder="字体大小" type="number" [(ngModel)]="fontSize" (ngModelChange)="changeFontSize($event)"/>
      </label>
    </mat-form-field>
    </div>

    <div>
      <button color="primary"  mat-raised-button (click)="saveToFile()">导出</button>
    </div>
  </div>
  <ngx-monaco-editor (onInit)="editorInit($event)" [options]="options" [(ngModel)]="textContent"
                     style="height: calc(100% - 80px);"></ngx-monaco-editor>
</div>
