<mat-sidenav-container class="sidenav-container" hasBackdrop="false">
  <mat-sidenav #drawer class="sidenav" mode="side">
    <mat-toolbar>APPLICATIONS</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let app of appService.appMetaInfo" [routerLink]="app.path">
        <i nz-icon [nzType]="app.icon"></i>&nbsp;&nbsp;{{app.displayName}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar nz-row nzJustify="start" nzAlign="middle">
      <a nz-icon nzType="bars" nz-col nzSpan="2" (click)="drawer.toggle()" mat-button
         style="font-size: 24px;height: 100%;display: inline-flex;justify-content: center; align-items: center;">
      </a>
      <h2 nz-col nzSpan="12">{{appTitle}}</h2>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
