<mat-tab-group>

  <mat-tab label="数据绑定">
    <div style="padding: 20px">
      <mat-accordion multi displayMode="default">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            数据绑定
          </mat-expansion-panel-header>
          <mat-form-field nz-col>
            <input matInput placeholder="单向绑定" [ngModel]="dataBingingDemo">
          </mat-form-field>

          <mat-form-field nz-col nzOffset="1">
            <input matInput placeholder="双向绑定" [(ngModel)]="dataBingingDemo">
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            事件绑定
          </mat-expansion-panel-header>
          <button mat-button mat-raised-button
                  (click)="showSnackBar('点击了按钮')"
                  (mouseenter)="showSnackBar('鼠标进入')"
                  (mouseleave)="showSnackBar('鼠标移出')">button
          </button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            CSS属性绑定
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="颜色" #color>
          </mat-form-field>
          <div [style.color]="color.value">这是一段文字</div>
          <br>
          <mat-form-field>
            <input matInput placeholder="Class Name" #class>
          </mat-form-field>
          <div [ngClass]="class.value">这是一段文字</div>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="指令">
    <div style="padding: 20px">
      <h2>内置指令</h2>
      <mat-accordion multi displayMode="default">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ngIf
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="输入一段消息" #msg>
          </mat-form-field>
          <div *ngIf="!!msg.value">输入了: {{msg.value}}</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ngFor
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput type="number" placeholder="迭代次数" #count (change)="changeNgForArray(count.value)">
          </mat-form-field>
          <mat-list >
            <mat-list-item *ngFor="let i of ngForArray; let id = index">item: {{i}}, index: {{id}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ngSwitch
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-select #switch value="0">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>

          </mat-form-field>
          <div [ngSwitch]="switch.value">
            <div *ngSwitchCase="1">选择了 1</div>
            <div *ngSwitchCase="2">选择了 2</div>
            <div *ngSwitchCase="3">选择了 3</div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <h2>自定义指令</h2>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            自定义属性指令示意
          </mat-expansion-panel-header>
          <div mouse-log="custom-directive" (mouse-action)="mouseActionMessage = $event" style="border: solid; width: 200px; height: 80px"></div>
          <div>{{mouseActionMessage}}</div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            自定义结构指令
          </mat-expansion-panel-header>
          <div>
            <ng-template [forOf]="forOfArray" let-length="length" let-item>
              <div>item: {{item}}, length: {{length}}</div>
            </ng-template>
          </div>
<!--          简化写法：-->
<!--          <div>-->
<!--            <div *for="let item of forOfArray; let length = length">item: {{item}}, length: {{length}}</div>-->
<!--          </div>-->

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="管道">
    <div style="padding: 20px">
      <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          内置管道
        </mat-expansion-panel-header>
        <nz-row>
          <h4>number管道</h4>
          <nz-col>
          <mat-form-field>
            <input matInput #number placeholder="请输入一个数字">
          </mat-form-field>
          </nz-col>
          <nz-col nzOffset="1">
          <mat-form-field>
            <label>
              <input matInput #numberFormat placeholder="格式">
            </label>
          </mat-form-field>
            &nbsp;
            <span [innerText]="'规则：{整数值最少位数}.{小数点后最小位数}-{小数点后最大位数}'"></span>
          </nz-col>
          <div>{{number.value | number: numberFormat.value}}</div>
        </nz-row>

        <nz-row>
          <h4>currency管道</h4>
          <nz-col>
            <mat-form-field>
              <input matInput #currency placeholder="请输入一个数字">
            </mat-form-field>
          </nz-col>
          <div>{{currency.value | currency: 'USD':'symbol':numberFormat.value}}</div>
        </nz-row>

        <nz-row>
          <h4>percent管道</h4>
          <nz-col>
            <mat-form-field>
              <input matInput #percent placeholder="请输入一个数字">
            </mat-form-field>
          </nz-col>
          <div>{{percent.value | percent}}</div>
        </nz-row>

        <nz-row>
          <h4>date管道</h4>
          <nz-col>
            <mat-form-field appearance="standard">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </nz-col>
          <nz-col nzOffset="1">
            <mat-form-field>
              <input matInput #dataFormat placeholder="日期格式">
            </mat-form-field>
          </nz-col>
          <div>{{picker._selected | date: dataFormat.value}}</div>
        </nz-row>
        <nz-row>
          <h4>其他内置管道：uppercase(转换为大写), lowercase(转换为小写), json(将object转换为json字符串), async(从管道订阅一个Observable或者一个Promise对象、并显示其最新值) 等等 </h4>
        </nz-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          自定义管道
        </mat-expansion-panel-header>
        <nz-row>
        <nz-col>
          <mat-form-field>
            <input matInput #cusPipeValue placeholder="请输入一个数字">
          </mat-form-field>
        </nz-col>
        <nz-col nzOffset="1">
          <mat-form-field>
            <input matInput #cusPipeRate type="number" placeholder="请输入换算率">
          </mat-form-field>
        </nz-col>
        </nz-row>
        <div>{{cusPipeValue.value| strToNumber | rate: cusPipeRate.value}}</div>
        <div [innerText]="cusPipeValue.value| strToNumber | rate: cusPipeRate.value"></div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
